/*      CC MATTI 2021          */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.meldung {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    align-content: center;
    text-align: left;
    margin-left: 25%;
    margin-right: 20%;
    margin-top: 15%;
    -webkit-animation: fade-in-left 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
            animation: fade-in-left 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1s both;
    }
}

.meldungh1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
}

.meldung--part1 {
    -webkit-animation: fade-in-left 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6.9s both;
            animation: fade-in-left 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6.9s both;
    text-decoration: none;
}

.meldungp {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

.buttonstart {
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1.5%;
    margin-right: 90.7%;
    margin-top: 2em;
    -webkit-animation: fade-in-left 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;
            animation: fade-in-left 2.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 3s both;    

}


.backgroundcolorswitch {
    background: black; /* fallback */
    animation: switchColor 5s;
}


/*      ANIMATION START HERE        */


/* ----------------------------------------------
 * Generated by Animista on 2021-4-22 13:45:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-left {
    0% {
      -webkit-transform: translateX(-50px);
              transform: translateX(-50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  



  @keyframes switchColor {
    0% {
        background: white;
    }

    100% {
        background: black;
    }
}